section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
  }
  .background{
    color: black;
  }
  
  .section-container {
    display: flex;
  }
  .section__text {
    align-self: center;
    text-align: center;
  }
  
  .section__text p {
    font-weight: 600;
  }
  
  .section_text_p1 {
    text-align: center;
  }
  
  .section_text_p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }
  
  .title {
    font-size: 3rem;
    text-align: center;
  }
  
  #socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
  }
  #projects {
  position: relative;
}

.color-container {
  border-color: rgb(163, 163, 163);
  background-color: rgb(250, 250, 250);
}

.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}
.project-title {
  margin: 1rem;
  color: black;
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
}
#about {
    position: relative;
  }
  .about-containers {
    margin-bottom: 2rem;
    margin-top: 2rem;
    gap: 2rem;
  }
  
  .about-details-container {
    justify-content: center;
    flex-direction: column;
  }
  .about-containers,
  .about-details-container {
    display: flex;
  }
  
  .about-pic {
    border-radius: 2rem;
  }
  .arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
  }
  
  .details-containers {
    padding: 1.5rem;
    flex: 1rem;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
  }
  
  .section-container {
    gap: 4rem;
    height: 80%;
  }
  .section__pic-container {
    height: 400px;
    width: 400px;
    margin: auto 0;
  }
  .section__pic-container .about-pic {
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: 38px 38px 76px #bebebe, -38px -38px 76px #ffffff;
  }
  